@media (max-width: 550px) {
    .game {
        top: 20px;
    }
    .controls {
        right: 0%
    }
}

@media (max-height: 550px) {
    .game {
        top: 20px;
    }
    .controls {
        right: 0%
    }
}
